<!DOCTYPE html>
<html>
<head>
  <title>Shahin Imtiaz - Curriculum Vitae</title>

  <meta name="viewport" content="width=device-width"/>
  <meta name="description" content="The Curriculum Vitae of Shahin Imtiaz."/>
  <meta charset="UTF-8">

  <link type="text/css" rel="stylesheet" href="style.css">
  <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
  <div class="mainDetails">
    <div id="headshot" class="quickFade">
      <%= image_tag('headshot.png', alt: 'Shahin Imtiaz') %>
    </div>

    <div id="name">
      <h1 class="quickFade delayTwo">Shahin Imtiaz</h1>
      <h2 class="quickFade delayThree">Software Developer</h2>
    </div>

    <div id="contactDetails" class="quickFade delayFour">
      <ul>
        <li>e: <a href="mailto:sshahinimtiaz@gmail.com" target="_blank">sshahinimtiaz@gmail.com</a></li>
        <li>w: <a href="http://www.bloggs.com">www.shahin.com</a></li>
        <li>m: 01234567890</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div id="mainArea" class="quickFade delayFive">
    <section>
      <article>
        <div class="sectionTitle">
          <h1>Hi! I'm Shahin</h1>
        </div>

        <div class="sectionContent">
          <p> I'm in my 4th year of Computer Science at the University of Toronto, where I am specializing in machine learning and also a (fourth time) TA.
            <br>
              Fun fact: I can also speak six languages (English, Hindi, Assamese, French, Arabic, Urdu and Bengali).
            </br>
          </p>
        </div>
      </article>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Work Experience</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>Teaching Assistant, University of Toronto </h2>
          <p class="subDetails">January 2018 - Present</p>
          <p>I teach undergraduate students programming and computer science concepts in Python, Java, C, Dr. Racket, Matlab and Verilog. This semester, I was recommended by 2 faculty members to be one of the less than 10 helpcenter TAs. Find me in the schedule <a href="https://web.cs.toronto.edu/undergraduate/help-centre" >here</a>.</p>
        </article>

        <article>
          <h2>Vice President: Campus Life, University of Toronto Students' Union</h2>
          <p class="subDetails">May 2016 - April 2017</p>
          <p> <ul> As VP, I was in charge of student and club services for 60,000 students and over 1000 clubs.
           <ul></ul> I lead an initiative to allow students to access student life information and applications online <a href="https://www.utsu.ca" >(here)</a>.
        </ul> </p>
        </article>

        <article>
          <h2>Developer Intern, DistributedContainers </h2>
          <p class="subDetails">June 2019 - August 2019</p>
          <p>I made web scrapers and helped launch a containerized testing software product </p>
        </article>
      </div>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Key Skills</h1>
      </div>

<!--      <div class="sectionContent">-->
<!--        <div class="row">-->
<!--          <div class="col w-75 mr-1">-->
<!--            Python-->
<!--          </div>-->
<!--          <div class="d-flex py-2"> <div class="bg-black" style="flex: 7 0 auto;">-->

<!--        </div>-->
<!--          <div style="flex: 3 0 auto;"></div>-->
<!--        </div>-->
<!--        </div>-->
<!--      </div>-->



<!--      <p>HTML</p>-->
<!--      <div class="container">-->
<!--        <div class="skills html">90%</div>-->
<!--      </div>-->

<!--      <p>CSS</p>-->
<!--      <div class="container">-->
<!--        <div class="skills css">80%</div>-->
<!--      </div>-->

<!--      <p>JavaScript</p>-->
<!--      <div class="container">-->
<!--        <div class="skills js">65%</div>-->
<!--      </div>-->

<!--      <p>PHP</p>-->
<!--      <div class="container">-->
<!--        <div class="skills php">60%</div>-->
<!--      </div>-->






<div class = sectionContent>
  <article></article>
      <div>
        <span><b>Python</b>  </span>
        <div style="display: flex;width: 70%;height: 1em;"><div style="background-color: green; flex: 9 0 auto; height: 100%"></div><div style="flex: 1 0 auto;background-color: gray;height: 100%;">
        </div></div><div><div><div></div>

      </div> </div>  </div>
  </article>
  <article>
        <div>
      <span><b>C</b>  </span>
      <div style="display: flex;width: 70%;height: 1em;"><div style="background-color: green; flex: 7 0 auto; height: 100%"></div><div style="flex: 3 0 auto;background-color: gray;height: 100%;">
      </div></div><div><div><div></div>

    </div> <div> <div> </div>  </div> </div> </div>
  </article>

  <article>

      <div>
        <span><b>C</b>  </span>
        <div style="display: flex;width: 70%;height: 1em;"><div style="background-color: green; flex: 7 0 auto; height: 100%"></div><div style="flex: 2 0 auto;background-color: gray;height: 100%;">
        </div></div><div><div><div></div>

      </div> <div> <div> </div>  </div> </div> </div>
  </article>

  <article>
      <div>
        <span><b>Verilog, HDL</b>  </span>
        <div style="display: flex;width: 70%;height: 1em;"><div style="background-color: green; flex: 6 0 auto; height: 100%"></div><div style="flex: 4 0 auto;background-color: gray;height: 100%;">
        </div></div><div><div><div></div>

      </div> <div> <div> </div>  </div> </div> </div>

  </article>
  <article>
  <div>
    <span><b>HTML, CSS, JS</b>  </span>
    <div style="display: flex;width: 70%;height: 1em;"><div style="background-color: green; flex: 6 0 auto; height: 100%"></div><div style="flex: 4 0 auto;background-color: gray;height: 100%;">
    </div></div><div><div><div></div>

  </div> <div> <div> </div>  </div> </div> </div>
  </article>

</div>

      <div class="clear"></div>


    </section>

<!--  </div>-->


    <section>
      <div class="sectionTitle">
        <h1>Education</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>College/University</h2>
          <p class="subDetails">Qualification</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
        </article>

        <article>
          <h2>College/University</h2>
          <p class="subDetails">Qualification</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>

  </div>
</div>
</body>
</html>